@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat.woff2') format('woff2');
}

body {
  background: linear-gradient(#FFE2A8, #FFF4E0) fixed;
  text-align: center;
}

header {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;

  background-color: rgba(0,0,0,0.3);
  border: solid white 3px;
  border-radius: 5px;
  padding: 10px;
  margin: 60px auto 20px auto;
  width: 600px;
}

/* Fade sections in after fonts have loaded */
.wf-active header,
.wf-active main {
  opacity: 1.0;
}

header, .circle {
  box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2);
}

h1, h2 {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2);
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}

main {
  transition: opacity 1.5s 0.5s ease-in-out;
  opacity: 0;

  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.circle {
  cursor: pointer;
  display: inline-block;
  height: 120px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 120px;
  border: solid white 3px;
  margin: 10px;
  margin-bottom: 40px;
  width: 120px;
  transition: transform 0.1s ease-out;
}

.circle h3 {
  color: white;
  padding: 3px;
  display: inline-block;
  top: 15px;
  outline: none;
  position: relative;
}

.circle:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 0 3px 3px white; /* Glow effect */
}

.circle img {
  width: 64px;
  height: 64px;
  transform: translateY(20%);
}
